.first {
	background-color: rgb(108, 108, 255);
	height: 50px;
	padding-top: 0px;
}
.p1 {
	padding-top: 12px;
	color: white;
	padding-left: 100px;
}
.btn1 {
	padding-left:  100px;
}
#i1 {
	padding-right: 10px;
}
#ic {
	padding-right: 200px;
}
.img1 {
	padding-left: 100px;
	height: 50px;
	width: 200px;
	padding-top: 3px;


}
.navi {
	padding-left: 150px;
	margin-left: 30px;


}
.item1 {
	padding-left: 20px;
}
.item {
	border: 10px solid blue;
	border-radius: 20px;
	color: white;
	background-color: blue;
}
#tit {
	background-color: blue;
	color: white;
	text-align: center;
}
.fourth {
	width: 1000px;
	margin-left:150px;}
	.fifth {
		text-align: center;
		font-size: 20px;
		font-family:  serif;
	}
	.img2 {
		width: 50px;
		height: 50px;
	}
	.set {
		padding-left: 150px;
		padding-right: 150px;
		color: gray;
		font-size: 20px;
	}
	
	.column {
  float: left;
  width: 300px;
  padding: 10px;
  height: 180px;
  
}


.row:after {
  content: "";
  display: table;
  clear: both;
}
#main {
	background-color: white;

}
.mission {
	color: blue;
	padding-left: 100px;
}
#well {
	height: 80px;
	width: 280px;
	background-color: 	#D3D3D3;
	margin-left: 50px;
}
.img3 {
	padding-left: 30px;
	padding-top: 20px;

}
#myFooter {
	background-color: #373a48;
	color:white;
}

#myFooter .footer-copyright{
	background-color: #383737;
	padding-top:3px;
	padding-bottom:3px;
	text-align: center;
}

#myFooter .footer-copyright p{
	margin:10px;
	color: #ccc;
}

#myFooter ul{
	list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#myFooter h5{
	font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a{
	color:#d2d1d1;
	text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus{
	text-decoration: none;
	color:white;
}

#myFooter .myCols{
	text-align: center;
}

#myFooter .social-networks{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 38px;
}

#myFooter .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover{
	text-decoration: none;

}

#myFooter .facebook:hover{
	color:#0077e2;
}

#myFooter .google:hover{
	color:#ef1a1a;
}

#myFooter .twitter:hover{
	color: #00aced;
}

@media screen and (max-width: 767px){
	#myFooter {
		text-align: center;
	}
}



html{
	height: 100% !important;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.content{
	flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	min-height: 200px;
}

#myFooter{
	flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}